<h1>Sala de Reunion</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th id="col-Horario">Horário</th>
      <% Meeting::DAYS.each do |meeting| %>
        <th id="col-<%=meeting%>"><%= "#{meeting}"%></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% Meeting::TIMES.each do |time| %>
      <tr>
        <th id="row-<%=time%>"><%="#{time}:00"%></th>
        <% @meetings.each do |meeting| %>
          <% if meeting.time == time && meeting.slot == nil %>
            <td  data-bs-toggle="modal" data-bs-target="#exampleModal" ><%= link_to "Disponivel", new_meeting_slot_path(meeting)  %></td>
          <% elsif meeting.time == time && meeting.slot != nil %>
            <td>Reservado por
              <strong><%= link_to "#{meeting.slot.user.first_name}", meeting_path(meeting)%></strong>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
