<h1>Reserva de Sala</h1>

<table class="table bg-transparent">
  <thead>
    <tr>
      <th id="col-Horario">Horário</th>
      <% Meeting::DAYS.each do |meeting| %>
        <th id="col-<%=meeting%>"><%= "#{meeting}"%></th>
      <% end %>
    </tr>
  </thead>

  <tbody class="table table-striped">
    <% Meeting::TIMES.each do |time| %>
      <tr class="bg-light">
        <th id="row-meetings"><%="#{time}:00"%></th>

        <% @meetings.each do |meeting| %>
          <% if meeting.time == time && meeting.slot == nil %>
            <td><%= link_to "Disponivel", new_meeting_slot_path(meeting), remote: true %></td>
          <% elsif meeting.time == time && meeting.slot != nil %>
            <td>Reservado para
              <strong><%= meeting.slot.user.first_name%></strong>
                <%= link_to meeting_path(meeting) do %>
                  <i class="fa fa-undo bg-transparent"></i>
                <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
